<h2 class="bold page-title">Edit <%= resource_name.to_s.humanize %></h2>
<div class="panel panel-default card-panel">
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="col-md-4">
            <div class="field">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
              <%= f.password_field :password, autocomplete: 'off' %>
              <% if @minimum_password_length %>
                  <br/>
                  <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: 'off' %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
              <%= f.password_field :current_password, autocomplete: 'off', required: true %>
            </div>
          </div>
          <div class="col-md-4">
            <!--<p>Let us know a bit about yourself</p>-->
            <div class="field">
              <%= f.label(:gender) %><br/>
              <%= f.radio_button(:gender, 'Male', required: 'required') %>
              <%= f.label(:gender_male, 'Male') %><br/>
              <%= f.radio_button(:gender, 'Female', required: 'required') %>
              <%= f.label(:gender_female, 'Female') %><br/>
              <%= f.radio_button(:gender, 'Prefer not to say', required: 'required') %>
              <%= f.label(:gender_prefer_not_to_say, 'Prefer not to say') %>
            </div>
            <div class="field">
              <%= f.label :age %><br/>
              <%= f.number_field :age, min: 0, required: true %>
            </div>
            <div class="field">
              <%= f.label :major %><br/>
              <%= f.select :major,
                           options_for_select(JokeRater.get_majors, selected: current_user.major), required: true %>
            </div>
            <div class="field">
              <%= f.label :birth_country %><br/>
              <%= f.select :birth_country,
                           options_for_select(JokeRater.get_birth_countries.sort, selected: current_user.birth_country), required: true %>
            </div>
          </div>
          <div class="col-md-4">
            <!--<p>Tell us a bit about what you like so we can pick the best jokes that suit you</p>-->
            <div class="field">
              <%= f.label :preferred_joke_genre %><br/>
              <%= f.select :preferred_joke_genre,
                           options_for_select(Joke.get_categories, selected: current_user.preferred_joke_genre), required: true %>
            </div>
            <div class="field">
              <%= f.label :preferred_joke_genre2 %><br/>
              <%= f.select :preferred_joke_genre2,
                           options_for_select(Joke.get_categories, selected: current_user.preferred_joke_genre2), required: true %>
            </div>
            <div class="field">
              <%= f.label :preferred_joke_type %><br/>
              <%= f.select :preferred_joke_type,
                           options_for_select(Joke.get_types, selected: current_user.preferred_joke_type), required: true %>
            </div>
            <div class="field">
              <%= f.label :favorite_music_genre %><br/>
              <%= f.select :favorite_music_genre,
                           options_for_select(JokeRater.get_music_genres, selected: current_user.favorite_music_genre), required: true %>
            </div>
            <div class="field">
              <%= f.label :favorite_movie_genre %><br/>
              <%= f.select :favorite_movie_genre,
                           options_for_select(JokeRater.get_movie_genres, selected: current_user.favorite_movie_genre), required: true %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        </div>
    <% end %>

    <!--<h3>Cancel my account</h3>-->

    <!--<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>-->
  </div>
</div>
<%= link_to "Back", :back %>